In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
#Importing the data
contracts_path = "contracts.csv"
details_path   = "contract_details.csv"

df_contracts = pd.read_csv(contracts_path)
df_details   = pd.read_csv(details_path)

print("contracts:", df_contracts.shape)
print("details:", df_details.shape)

df_contracts.head()

contracts: (1542, 8)
details: (1542, 50)

,sl_no,pe_name,contract_name,contract_amount,procurement_category,procurement_method,status,contract_code
0,1,LALJHADI RURAL MUNICIPALITY,Construction of Shankarpur Hospital Building,60502650.12,Works,NCB,In-Progress,LAL-14-2077/078
1,2,Bharatpur Metropolitian City Office,Road Construction at different wards of Bharat...,35000000.00,Works,NCB,Completed,30-BMC/2078/079/W/NCB/88
2,3,Bharatpur Metropolitian City Office,Blacktopped Road Construction from Mitralal Ad...,4501900.14,Works,NCB,Completed,42-BMC/2078/079/W/NCB/123
3,4,Infrastructure Development Office Chitwan,Construction/Upgrading works Under Package-05,3657654.18,Works,NCB,In-Progress,IDO/CHT/W/NCB/05/078-79
4,5,Infrastructure Development Office Chitwan,Construction/Upgrading works of Pandechowk - ...,2053840.40,Works,NCB,In-Progress,IDO/CHT/W/NCB/07/078-79

In [4]:
merged_df = pd.merge(
    df_contracts,
    df_details,
    left_on='contract_code',
    right_on='contract_id',
    how='inner' # Used inner merge since both files have the same number of rows
)

In [5]:
# --- 3. Clean Column Names (Remove Prefix) ---
# Identify columns with the prefix 'contractRecordsTO.' and rename them
prefix = 'contractRecordsTO.'
columns_to_rename = {
    col: col.replace(prefix, '')
    for col in merged_df.columns
    if prefix in col
}
merged_df.rename(columns=columns_to_rename, inplace=True)

In [6]:
#Removing all the duplicated column
columns_to_drop = [
    'contractName',         
    'contractAmount',        
    'procurementCategoryId',
    'procurementMethodId',   
    'contractStatus',        
    'contractId'             
]

In [7]:
merged_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

# --- 5. Save the Final Cleaned Data ---
cleaned_file_name = 'combined_contract_data.csv'
merged_df.to_csv(cleaned_file_name, index=False)

In [8]:
merged_df.head()

,sl_no,pe_name,contract_name,contract_amount,procurement_category,procurement_method,status,contract_code,SCPType,beneficialOwner,...,sharedPercentage2,sharedPercentage3,sourceOfFund,startDate,totalPayment,vat_no1,vat_no2,vat_no3,warrantyPeriod,contract_id
0,1,LALJHADI RURAL MUNICIPALITY,Construction of Shankarpur Hospital Building,60502650.12,Works,NCB,In-Progress,LAL-14-2077/078,NaN,NaN,...,30,30,--Select source of Fund --,07-06-2021,17000000.0,301250032,300130805.0,300132335.0,0,LAL-14-2077/078
1,2,Bharatpur Metropolitian City Office,Road Construction at different wards of Bharat...,35000000.00,Works,NCB,Completed,30-BMC/2078/079/W/NCB/88,NaN,NaN,...,NaN,NaN,Internal Resource,15-05-2022,1600000.0,605970487,NaN,NaN,0,30-BMC/2078/079/W/NCB/88
2,3,Bharatpur Metropolitian City Office,Blacktopped Road Construction from Mitralal Ad...,4501900.14,Works,NCB,Completed,42-BMC/2078/079/W/NCB/123,NaN,NaN,...,NaN,NaN,Internal Resource,20-07-2022,0.0,302695005,NaN,NaN,0,42-BMC/2078/079/W/NCB/123
3,4,Infrastructure Development Office Chitwan,Construction/Upgrading works Under Package-05,3657654.18,Works,NCB,In-Progress,IDO/CHT/W/NCB/05/078-79,NaN,NaN,...,NaN,NaN,Goverment,NaN,0.0,602253303,NaN,NaN,0,IDO/CHT/W/NCB/05/078-79
4,5,Infrastructure Development Office Chitwan,Construction/Upgrading works of Pandechowk - ...,2053840.40,Works,NCB,In-Progress,IDO/CHT/W/NCB/07/078-79,NaN,NaN,...,NaN,NaN,Goverment,NaN,0.0,602253303,NaN,NaN,0,IDO/CHT/W/NCB/07/078-79