In [3]:
import pandas as pd
import numpy as np
import re

In [29]:
contracts_path = "contracts.csv"
details_path   = "contract_details.csv"

df_contracts = pd.read_csv(contracts_path)
df_details   = pd.read_csv(details_path)

print("contracts:", contracts.shape)
print("details:", details.shape)

contracts.head()

contracts: (1542, 8)
details: (1542, 50)

,sl_no,pe_name,contract_name,contract_amount,procurement_category,procurement_method,status,contract_code
0,1,LALJHADI RURAL MUNICIPALITY,Construction of Shankarpur Hospital Building,60502650.12,Works,NCB,In-Progress,LAL-14-2077/078
1,2,Bharatpur Metropolitian City Office,Road Construction at different wards of Bharat...,35000000.00,Works,NCB,Completed,30-BMC/2078/079/W/NCB/88
2,3,Bharatpur Metropolitian City Office,Blacktopped Road Construction from Mitralal Ad...,4501900.14,Works,NCB,Completed,42-BMC/2078/079/W/NCB/123
3,4,Infrastructure Development Office Chitwan,Construction/Upgrading works Under Package-05,3657654.18,Works,NCB,In-Progress,IDO/CHT/W/NCB/05/078-79
4,5,Infrastructure Development Office Chitwan,Construction/Upgrading works of Pandechowk - ...,2053840.40,Works,NCB,In-Progress,IDO/CHT/W/NCB/07/078-79

In [30]:
merged_df = pd.merge(
    df_contracts,
    df_details,
    left_on='contract_code',
    right_on='contract_id',
    how='inner' # Used inner merge since both files have the same number of rows
)

In [31]:
# --- 3. Clean Column Names (Remove Prefix) ---
# Identify columns with the prefix 'contractRecordsTO.' and rename them
prefix = 'contractRecordsTO.'
columns_to_rename = {
    col: col.replace(prefix, '')
    for col in merged_df.columns
    if prefix in col
}
merged_df.rename(columns=columns_to_rename, inplace=True)

In [32]:
columns_to_drop = [
    'contractName',          # Duplicate of 'contract_name'
    'contractAmount',        # Duplicate of 'contract_amount'
    'procurementCategoryId', # Duplicate of 'procurement_category'
    'procurementMethodId',   # Duplicate of 'procurement_method'
    'contractStatus',        # Duplicate of 'status'
    'contractId'             # Duplicate of 'contract_code'
]

In [33]:
merged_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

# --- 5. Save the Final Cleaned Data ---
cleaned_file_name = 'combined_contract_data.csv'
merged_df.to_csv(cleaned_file_name, index=False)

AttributeError: 'str' object has no attribute 'head'

Index(['sl_no', 'pe_name', 'contract_name', 'contract_amount',
       'procurement_category', 'procurement_method', 'status', 'contract_code',
       'contractrecordsto_scptype', 'contractrecordsto_beneficialowner',
       'contractrecordsto_biddingprocess', 'contractrecordsto_bolpatraid1',
       'contractrecordsto_bolpatraid2', 'contractrecordsto_bolpatraid3',
       'contractrecordsto_contractaddress'],
      dtype='object')

,sl_no,pe_name,contract_name,contract_amount,procurement_category,procurement_method,status,contract_code,contractrecordsto_scptype,contractrecordsto_beneficialowner,...,contractrecordsto_sharedpercentage2,contractrecordsto_sharedpercentage3,contractrecordsto_sourceoffund,contractrecordsto_startdate,contractrecordsto_totalpayment,contractrecordsto_vat_no1,contractrecordsto_vat_no2,contractrecordsto_vat_no3,contractrecordsto_warrantyperiod,contract_id
0,1,LALJHADI RURAL MUNICIPALITY,Construction of Shankarpur Hospital Building,60502650.12,Works,NCB,In-Progress,LAL-14-2077/078,<NA>,<NA>,...,30,30,--Select source of Fund --,07-06-2021,17000000.0,301250032,300130805.0,300132335.0,0,LAL-14-2077/078
1,2,Bharatpur Metropolitian City Office,Road Construction at different wards of Bharat...,35000000.00,Works,NCB,Completed,30-BMC/2078/079/W/NCB/88,<NA>,<NA>,...,<NA>,<NA>,Internal Resource,15-05-2022,1600000.0,605970487,NaN,NaN,0,30-BMC/2078/079/W/NCB/88
2,3,Bharatpur Metropolitian City Office,Blacktopped Road Construction from Mitralal Ad...,4501900.14,Works,NCB,Completed,42-BMC/2078/079/W/NCB/123,<NA>,<NA>,...,<NA>,<NA>,Internal Resource,20-07-2022,0.0,302695005,NaN,NaN,0,42-BMC/2078/079/W/NCB/123
3,4,Infrastructure Development Office Chitwan,Construction/Upgrading works Under Package-05,3657654.18,Works,NCB,In-Progress,IDO/CHT/W/NCB/05/078-79,<NA>,<NA>,...,<NA>,<NA>,Goverment,<NA>,0.0,602253303,NaN,NaN,0,IDO/CHT/W/NCB/05/078-79
4,5,Infrastructure Development Office Chitwan,Construction/Upgrading works of Pandechowk - ...,2053840.40,Works,NCB,In-Progress,IDO/CHT/W/NCB/07/078-79,<NA>,<NA>,...,<NA>,<NA>,Goverment,<NA>,0.0,602253303,NaN,NaN,0,IDO/CHT/W/NCB/07/078-79

,contract_amount,contractrecordsto_contractamount,contractrecordsto_estimatedcost,contractrecordsto_outstandingvalue,contractrecordsto_totalpayment
0,60502650.12,60502650.12,1.000000e+08,17000000.00,17000000.0
1,35000000.00,35000000.00,4.500000e+07,0.00,1600000.0
2,4501900.14,4501900.14,5.001357e+06,0.00,0.0
3,3657654.18,3657654.18,4.498350e+06,3657654.18,0.0
4,2053840.40,2053840.40,2.996418e+06,2053840.40,0.0

,contractrecordsto_contractdate,contractrecordsto_deliverydate,contractrecordsto_dlpenddate,contractrecordsto_dlpstartdate,contractrecordsto_endorcompletedate,contractrecordsto_postvalidationdate,contractrecordsto_startdate
0,2021-06-07,NaT,2024-07-07,2023-07-06,2023-07-06,NaT,2021-06-07
1,2022-05-10,NaT,NaT,NaT,2022-10-02,NaT,2022-05-15
2,2022-07-20,NaT,NaT,NaT,2022-12-19,NaT,2022-07-20
3,2021-11-26,NaT,NaT,NaT,NaT,NaT,NaT
4,2021-11-26,NaT,NaT,NaT,NaT,NaT,NaT

Dropping 6 columns

(1542, 52)

               contract_code  contract_duration_days  payment_ratio
0            LAL-14-2077/078                   759.0       0.280979
1   30-BMC/2078/079/W/NCB/88                   140.0       0.045714
2  42-BMC/2078/079/W/NCB/123                   152.0       0.000000
3    IDO/CHT/W/NCB/05/078-79                     NaN       0.000000
4    IDO/CHT/W/NCB/07/078-79                     NaN       0.000000

'contracts_combined_cleaned.csv'